<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 
 
<bean id= "Diesel" class="in.naveenit.bean.DieselEngine"/>
  <bean id= "Petrol" class="in.naveenit.bean.PetrolEngine"/>
	  <bean id="car" class="in.naveenit.bean.Car"  scope ="prototype">
    <constructor-arg ref="Petrol"/>
</bean>
	 
</beans>